<div class="container">
    <br>
    
    <!-- <div class="center" style="font-size: larger;font-weight: bold;color: black;align-items: center;justify-content: center;align-self: center;">Select ID :</div> -->
    <div class="row" style=" align-content: center;align-self: center;align-items: center;justify-content: center;">
        <h1>Select Id :&nbsp;&nbsp;</h1>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="id" style="width: 60%;height: 30px; align-items: center;justify-content: center;">
            <!-- <option value="-1">Select any ID</option> -->
           <option *ngFor="let p of items | async" [value]="p.id">{{p.id}}</option>
        </select>
    </div>
</div>
<div *ngIf ="showotherfields" class="container">
    <form (ngSubmit)='submit("Product deleted Successfullly","Dismiss")' [formGroup]='loginForm' novalidate class="form">
        <label for="Title">Title</label>
        <input type="text" formControlName='Title' class="form-control" id="Title" placeholder="Enter Title " readonly>
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('Title')?.hasError('required') && loginForm?.get('Title')?.touched">
            Title is Required
        </div>

        <label for="Quantity">Quantity</label>
        <input type="number" formControlName='Quantity' class="form-control" id="Quantity" placeholder="Enter Quantity "
            readonly>
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('Quantity')?.hasError('required') && loginForm?.get('Quantity')?.touched">
            Quantity is Required
        </div>

        <label for="Color">Color</label>
        <input type="text" formControlName='Color' class="form-control" id="Color" placeholder="Enter Color" readonly>
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('Color')?.hasError('required') && loginForm?.get('Color')?.touched">
            Color is Required
        </div>

        <label for="ExpiryDate">ExpiryDate</label>
        <input type="text" formControlName='expirydate' class="form-control" id="ExpiryDate"
            placeholder="Enter ExpiryDate" onclick="(this.type ='date')" onkeyup="(this.type ='date')" readonly>
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('expirydate')?.hasError('required') && loginForm?.get('expirydate')?.touched">
            ExpiryDate is Required
        </div>

        <label for="instock">InStock:</label><br>
        <div class="form-check form-check-inline">

            <input class="form-check-input" formControlName="instock" type="radio" [value]="true" readonly>
            <label class="form-check-label" for="inlineRadio1">In Stock</label>
        </div>

        <div class="form-check form-check-inline">

            <input class="form-check-input" formControlName="instock" type="radio" [value]="false" readonly>
            <label class="form-check-label" for="inlineRadio1">Out of Stock</label>
        </div>
        <br>
    </form>
</div>
<div class="container">
    <br>
    <div style="float: left;">
        <button (click)="search()" class="btn btn-success">Search</button>
    </div>
    <div style="float: right;">
        <button type="button" (click)="submit('Product deleted Successfullly','Dismiss')" class="btn btn-danger mb-2">Delete</button>
    </div>
</div>