<div class="container">
    <br>
    <div class="row" style=" align-content: center;align-self: center;align-items: center;justify-content: center;">
        <h1>Select Id :&nbsp;&nbsp;</h1>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="id"
            style="width: 60%;height: 30px; align-items: center;justify-content: center;">
            <!-- <option value="-1">Select any ID</option> -->
            <option *ngFor="let p of items | async" [value]="p.id">{{p.id}}</option>
        </select>
    </div>
</div>
<div class="container" style="align-content: center;" *ngIf="showotherfields">
    <br>
    <form (ngSubmit)='submit("Product Update Successfullly","Dismiss")' [formGroup]='loginForm' novalidate class="form">

        <!-- <label for="Id">Id</label>
        <input type="number" formControlName='Id' class="form-control" id="id" placeholder="Enter Id ">
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('Id')?.hasError('required') && loginForm?.get('Id')?.touched">
            Id is Required
        </div> -->

        <label for="Title">Title</label>
        <input type="text" formControlName='Title' class="form-control" id="Title" placeholder="Enter Title ">
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('Title')?.hasError('required') && loginForm?.get('Title')?.touched">
            Title is Required
        </div>

        <label for="Quantity">Quantity</label>
        <input type="number" formControlName='Quantity' class="form-control" id="Quantity"
            placeholder="Enter Quantity ">
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('Quantity')?.hasError('required') && loginForm?.get('Quantity')?.touched">
            Quantity is Required
        </div>

        <label for="Color">Color</label>
        <input type="text" formControlName='Color' class="form-control" id="Color" placeholder="Enter Color">
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('Color')?.hasError('required') && loginForm?.get('Color')?.touched">
            Color is Required
        </div>

        <label for="ExpiryDate">ExpiryDate</label>
        <input type="text" formControlName='expirydate' class="form-control" id="ExpiryDate"
            placeholder="Enter ExpiryDate" onclick="(this.type ='date')" onkeyup="(this.type ='date')">
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('expirydate')?.hasError('required') && loginForm?.get('expirydate')?.touched">
            ExpiryDate is Required
        </div>

        <label for="instock">InStock:</label><br>
        <div class="form-check form-check-inline">

            <input class="form-check-input" formControlName="instock" type="radio" [value]="true">
            <label class="form-check-label" for="inlineRadio1">In Stock</label>
        </div>

        <div class="form-check form-check-inline">

            <input class="form-check-input" formControlName="instock" type="radio" [value]="false">
            <label class="form-check-label" for="inlineRadio1">Out of Stock</label>
        </div>
        <br><br>

    </form>
</div>
<br>

<div class="container">
    <div>
        <div style="float: left;">
            <button type="reset" class="btn btn-success mb-2" (click)="search()">Search</button>
        </div>
        <div style="float: right;">
            <button class="btn btn-primary" (click)="submit('Product Updated Successfullly','Dismiss')">Update</button>
        </div>
    </div>
</div>