<div class="container" style="align-content: center;">
    <br>
    <form (ngSubmit)='submit("Product edited Successfullly","Dismiss")' [formGroup]='loginForm' novalidate class="form">
        
        <label for="Id">Id</label>
        <input type="number" formControlName='Id' class="form-control" id="id" placeholder="Enter Id " readonly>
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('Id')?.hasError('required') && loginForm?.get('Id')?.touched">
            Id is Required
        </div>

        <label for="Title">Title</label>
        <input type="text" formControlName='Title' class="form-control" id="Title" placeholder="Enter Title ">
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('Title')?.hasError('required') && loginForm?.get('Title')?.touched">
            Title is Required
        </div>

        <label for="Quantity">Quantity</label>
        <input type="number" formControlName='Quantity' class="form-control" id="Quantity"
            placeholder="Enter Quantity ">
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('Quantity')?.hasError('required') && loginForm?.get('Quantity')?.touched">
            Quantity is Required
        </div>

        <label for="Color">Color</label>
        <input type="text" formControlName='Color' class="form-control" id="Color" placeholder="Enter Color">
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('Color')?.hasError('required') && loginForm?.get('Color')?.touched">
            Color is Required
        </div>

        <label for="ExpiryDate">ExpiryDate</label>
        <input type="text" formControlName='expirydate' class="form-control" id="ExpiryDate"
            placeholder="Enter ExpiryDate" onclick="(this.type ='date')" onkeyup="(this.type ='date')">
        <div class="alert alert-danger"
            *ngIf="loginForm?.get('expirydate')?.hasError('required') && loginForm?.get('expirydate')?.touched">
            ExpiryDate is Required
        </div>

        <label for="instock">InStock:</label><br>
        <div class="form-check form-check-inline">

            <input class="form-check-input" formControlName="instock" type="radio" [value]="true">
            <label class="form-check-label" for="inlineRadio1">In Stock</label>
        </div>

        <div class="form-check form-check-inline">

            <input class="form-check-input" formControlName="instock" type="radio" [value]="false">
            <label class="form-check-label" for="inlineRadio1">Out of Stock</label>
        </div>
        <br>
<br>
        <div>
            <div style="float: left;">
                <button [disabled]='loginForm.invalid' class="btn btn-success">Edit</button>
            </div>
            <div style="float: right;">
                <button type="reset" class="btn btn-danger mb-2">Reset</button>
            </div>
        </div>
    </form>
</div>