<h1 style="text-align: center;">Data using async pipe</h1>

<div class="container">
    <table class="table ">
        <thead style="background-color: yellow;">
            <th>Id</th>
            <th>Title</th>
            <th>Quantity</th>
            <th>Color</th>
            <th>ExpiryDate</th>
            <th>inStock</th>
        </thead>

        <tbody *ngFor ="let p of productitems | async" class="table-active">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.color}}</td>
            <td>{{p.expiryDate | date}}</td>
            <td>{{p.inStock}}</td>
        </tbody>
    </table>
</div>