<div class="container">
    <table class="table ">
        <thead class="thead-light">
            <th>Id</th>
            <th>Title</th>
            <th>Quantity</th>
            <th>Color</th>
            <th>ExpiryDate</th>
            <th>inStock</th>
        </thead>

        <tbody *ngFor ="let p of productitems | async" class="table-success">
            <td><a [routerLink] = "['/product',p.id]">{{p.id}}</a></td>
            <td>{{p.title}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.color}}</td>
            <td>{{p.expiryDate | date}}</td>
            <td>
                <ng-container *ngIf="p.inStock; then instock else outofstock">
                </ng-container>

                <ng-template #instock>
                    <i class="fas fa-check"></i>
                </ng-template>

                <ng-template #outofstock>
                    <i class="fas fa-times"></i>
                </ng-template>
            </td>
        </tbody>
    </table>
</div>