<div class="container">
    <br>

    <mat-tab-group [color]="'accent'" [backgroundColor]="'accent'" mat-align-tabs="center" animationDuration="2000ms">
        <mat-tab label="Data With Async">
            <br>
            <div>
                <app-listproductwithasync [productitems]='items'></app-listproductwithasync>
            </div>
        </mat-tab>
        <mat-tab label="Data With Mat Table"> <br>
            <div>
                <app-listproductwithmattable [productitems]='items'> </app-listproductwithmattable>
            </div>
        </mat-tab>
        <mat-tab label="Data With Subscribe">
            <br>
            <div>
                <app-listproductwithsubscribe [productitems]='items'></app-listproductwithsubscribe>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>